
[Unit]
Description=adsblol-feed
Wants=network.target
After=network.target

[Service]
User=adsblol
RuntimeDirectory=adsblol-feed
ExecStart=/usr/local/share/adsblol/adsblol-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=adsblol-feed
Nice=-1

[Install]
WantedBy=default.target
